.box {
    display: grid;
    height: 90vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 1fr 150px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 110%;
}

.header {
    background-color: rgb(175, 182, 182);
    grid-column: 1/4;
    padding-top: 30px;
}

.main {
    background-color: rgb(241, 241, 153);
    padding-top: 20px;
}

.blok {
    display: grid;
    height: 200px;
    grid-template-areas:
        "blok1 blok2"
        "blok3 blok3";
    padding-top: 85px;
    grid-gap: 15px;
}

.blok1,
.blok2,
.blok3 {
    background-color: rgb(240, 207, 116);
    padding-top: 25px;
}

.blok1 {
    margin-left: 20px;
}

.blok2 {
    margin-right: 20px;
}

.blok3 {
    grid-column: 1/3;
    margin-left: 20px;
    margin-right: 20px;
}

.aside {
    background-color: rgb(118, 248, 188);
    padding-top: 20px;
}

.footer {
    display: grid;
    background-color: rgb(175, 182, 182);
    grid-column: 1/4;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20px;
    justify-items: center;
    padding-top: 40px;
}

.div {
    background-color: white;
    width: 184px;
    height: 69px;
    text-align: center;
    padding-top: 9px;
}